In [5]:
import pandas as pd

In [209]:
path="j1/distribution-of-urban-population-by-age-and-sex-kenya-2019-census-volume-iii.csv"
df=pd.read_csv(path )
#df.head(20)
df.keys()

Index(['Age', 'Male', 'Female', 'Intersex', 'Total'], dtype='object')

In [210]:
def convert(d):
    if(d != "-"):
        return int(d)
    else:
        return "-"

In [211]:
df["Male"]=df["Male"].str.split(",").str.join(sep="").apply(lambda a:int(a))
df["Female"]=df["Female"].str.split(",").str.join(sep="").apply(lambda a:int(a))
df["Intersex"]=df["Intersex"].str.split(",").str.join(sep="").apply(convert)
df["Total"]=df["Total"].str.split(",").str.join(sep="").apply(lambda a:int(a))
path="v1/distribution-of-urban-population-by-age-and-sex-kenya-2019-census-volume-iii.csv"
#df.to_csv(path,header=True,)

In [217]:
df2=pd.read_csv("j1/notified-births-in-the-last-12-months-by-county-2019-census-volume-iv.csv")

In [218]:
df2["Per Cent Notified"]=df2["Per Cent Notified"].astype("int")
df2["Total"]=df2["Total"].str.split(",").str.join(sep="").apply(convert)
df2["Not Stated"]=df2["Not Stated"].str.split(",").str.join(sep="").apply(convert)
df2["Notified"]=df2["Notified"].str.split(",").str.join(sep="").apply(convert)
df2["Not Notified"]=df2["Not Notified"].str.split(",").str.join(sep="").apply(convert)
df2["Don't Know"]=df2["Don't Know"].str.split(",").str.join(sep="").apply(convert)
df2['Not Notified']=df2['Not Notified'].astype("int")
path="v1/notified-births-in-the-last-12-months-by-county-2019-census-volume-iv.csv"
#df2.to_csv(path,header=True,)

In [230]:
df3=pd.read_csv("j1/percentage-distribution-of-conventional-households-by-main-source-of-drinking-water-county-and-s.csv")
df3.dropna()

,County/ Sub-County,Conventional Households,Pond,Dam/ Lake,Stream/ River,Protected Spring,Unprotected Spring,Protected Well,Unprotected Well,Borehole/ Tube well,Piped into dwelling,Piped to yard/ Plot,Bottled water,Rain/ Harvested water,Water Vendor,Public tap/ Standpipe,Not Stated
0,KENYA,"12,043,016",1.6,3.3,16.8,7.1,2.4,7.0,2.6,9.9,10.1,14.1,2.8,3.9,8.5,9.9,0.0
1,Rural,"7,379,282",2.4,4.9,25.8,10.5,3.7,9.0,4.0,11.8,5.1,7.8,0.3,5.0,3.3,6.4,0.0
2,Urban,"4,663,734",0.2,0.8,2.6,1.8,0.3,4.0,0.5,6.8,18.1,23.9,6.7,2.0,16.7,15.6,0.0
3,MOMBASA,"376,295",0.1,0.2,0.1,1.2,0.1,4.6,0.4,5.2,7.2,5.2,11.4,0.3,43.5,20.5,0.0
4,CHANGAMWE,"46,439",0.0,0.0,0.1,0.8,0.1,1.2,0.1,1.2,4.0,4.2,5.2,0.1,59.9,23.3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MAKADARA,"70,080",0.0,0.2,0.1,0.1,0.1,0.1,0.1,0.5,18.8,21.6,3.3,0.2,28.1,27.0,0.0
391,MATHARE,"74,967",0.0,0.0,0.0,0.3,0.0,0.1,0.0,0.3,10.1,41.9,0.8,0.1,19.3,27.0,0.1
392,NJIRU,"204,492",0.0,0.1,0.0,0.4,0.0,0.3,0.0,5.6,21.8,39.8,5.3,1.8,14.6,10.2,0.1
393,STAREHE,"66,108",0.0,0.2,0.0,0.5,0.0,0.2,0.0,2.3,27.4,23.8,9.2,0.1,10.0,26.1,0.1
394,WESTLANDS,"103,489",0.0,0.2,0.1,1.1,0.0,0.3,0.0,2.5,25.5,28.3,15.6,0.1,6.4,19.8,0.0

In [295]:
path="j1/population-of-street-persons-outdoor-sleepers-by-sex-area-of-residence-and-county-2019-census-vo.csv"
df4=pd.read_csv(path)

In [296]:
df4

             County   Total    Male Female
0             KENYA  20,101  17,747  2,348
1             Rural   5,520   4,677    841
2             Urban  14,581  13,070  1,507
3           MOMBASA   1,809   1,579    230
4             KWALE     206     198      8
5            KILIFI     305     265     40
6        TANA RIVER     133     106     27
7              LAMU     231     153     78
8      TAITA/TAVETA      66      49     17
9           GARISSA     139     122     17
10            WAJIR     125      97     28
11          MANDERA      82      62     20
12         MARSABIT     359     292     67
13           ISIOLO       -       -      -
14             MERU     734     702     32
15    THARAKA-NITHI     125     102     23
16             EMBU     427     399     28
17            KITUI     280     242     38
18         MACHAKOS     235     214     21
19          MAKUENI     250     220     30
20        NYANDARUA      23      23      -
21            NYERI     259     231     28
22        KIRINYAGA     147     141      6
23         MURANG'A     167     134     33
24           KIAMBU     626     570     56
25          TURKANA     386     336     50
26       WEST POKOT     248     214     34
27          SAMBURU     278     270      8
28      TRANS NZOIA     296     290      6
29      UASIN GISHU     669     616     53
30  ELGEYO/MARAKWET      19      18      1
31            NANDI     130     117     13
32          BARINGO      78      76      2
33         LAIKIPIA     221     211     10
34           NAKURU     629     572     57
35            NAROK     222     214      8
36          KAJIADO     637     583     54
37          KERICHO      68      63      5
38            BOMET      48      42      6
39         KAKAMEGA     219     212      7
40           VIHIGA     149      74     75
41          BUNGOMA     262     243     19
42            BUSIA     185     175     10
43            SIAYA     308     250     58
44           KISUMU     451     315    136
45         HOMA BAY     276     245     31
46           MIGORI     405     302    103
47            KISII     290     253     37
48          NYAMIRA     156      97     59
49          NAIROBI   6,743   6,064    679

In [297]:
df4["Total"]=df4["Total"].str.split(",").str.join(sep="").apply(convert)
df4["Male"]=df4["Male"].str.split(",").str.join(sep="").apply(convert)
df4["Female"]=df4["Female"].str.split(",").str.join(sep="").apply(convert)
path="v1/population-of-street-persons-outdoor-sleepers-by-sex-area-of-residence-and-county-2019-census-vo.csv"
#df4.to_csv(path,header=True,)